.back-button {
    width: 100px;
    height: 35px;
    margin: 20px;
    cursor: pointer;
}

.product {
    margin: 20px;
    text-align: center;
    display: inline-block;
    background-color: rgb(243, 243, 243);
}

.edit-product-div {
    display: flex;
}

.product-info-div {
    display: flex;
    margin: 20px;
}

.product-div {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    text-align: left;
}


img {
    width: 200px;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin: 5px;
}

.update-form-div {
    margin: 20px;
    width: 400px;
    padding: 10px;
    display: inline-block;
    background-color: rgb(234, 235, 236);
    //border: 1px solid black;
}

.category-div {
    display: inline-block;
    padding: 5px;
}

.update-form-div button {
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer; 
    background-color: black;
    color: white;
}

.update-form-div button:hover:enabled {
    background-color: rgb(57, 56, 56);
}