.back-button {
    width: 100px;
    height: 35px;
    margin: 20px;
    cursor: pointer;
}

.form {
    margin: auto;
    width: 400px;
    padding: 10px;
    display: block;
    border: 1px solid black;
}

img {
    width: 200px;
}

.category-div {
    display: inline-block;
    padding: 5px;
}