<div>
    <button class="back-button" (click)="backToProductList()">Back</button>
</div>
<div class="product">
    <h2>Update Product Form</h2>
    <div *ngIf="(updateProduct$ | async) as product" class="edit-product-div">
        <div class="product-info-div">
            <div class="product-div">
                <img src="{{product.imgUrl}}">
            </div>
            <div class="product-div">
                <p>
                   <b>Name:</b> {{product.product_name}}
                </p>
                <p>
                    <b>Quantity(In Stock):</b> {{product.quantity}}
                    <a (click)="onToggleEdit()">Edit</a>
                </p> 
                <p>
                    <b>Price: </b> {{product.price}}
                </p>
                <p><b>Categories:</b> 
                    <span *ngFor="let category of product.categories">
                        {{category.category_name}},
                    </span>
                    <a (click)="onToggleAdd()">Add</a>
                    <a (click)="onToggleDelete()" *ngIf="product.categories?.length">Delete</a>
                </p>
            </div>
        </div>

        <div class="update-form-div" *ngIf="showEditForm">
            <h3>Update Product Quantity</h3>
            <form [formGroup]='updateProductForm'>
                <label for="quantity">Quantity:</label>
                <input type="number" min="0" 
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                formControlName="quantity">
                <p>
                    <button [disabled]="updateProductForm.invalid" (click)="updateQuantity(product)">Update</button>
                </p>
            </form>
        </div>

        <div class="update-form-div" *ngIf="showAddForm">
            <h3>Update Product Category</h3>
            <form [formGroup]='updateProductCategoryForm'>
                <label><b>Select one or multiple category:</b></label>
                <div class="category-div" *ngFor=" let category of (categories$ | async)">
                    <label>
                        <input type="checkbox" [value]="category._id" (change)="onCheckboxChange($event)">
                        {{category.category_name}}
                    </label>
                </div>
                <p>
                    <button (click)="addProductCategory(product)" [disabled]="updateProductCategoryForm.invalid">Add Category to Product</button>
                </p>
            </form>
        </div>

        <div class="update-form-div" *ngIf="showDeleteForm">
            <h3>Delete Product Category</h3>
            <form [formGroup]='deleteProductCategoryForm'>
                <label><b>Select one or multiple category:</b></label>
                <div class="category-div" *ngFor=" let category of product.categories">
                    <label>
                        <input type="checkbox" [value]="category._id" (change)="onCheckboxChange2($event)">
                        {{category.category_name}}
                    </label>
                </div>
                <p>
                    <button (click)="deleteProductCategory(product)" [disabled]="deleteProductCategoryForm.invalid">Delete Category from Product</button>
                </p>
            </form>
        </div>
    </div>
</div>



