
    <ul>
        <li>
            <a routerLink="/products" routerLinkActive="active-list">Home</a>
        </li>
        <li>
            <a *ngIf = "!(loggedUser$ | async)" routerLink="/add-product" routerLinkActive="active-list">Add Product</a>
        </li>  
        <li>
            <a *ngIf = "!(loggedUser$ | async)" routerLink="/login" routerLinkActive="active-list">Log In</a>
        </li>
        <li>
            <a *ngIf = "(loggedUser$ | async)" (click)="logout()" routerLinkActive="active-list">Log Out</a>
        </li>
        <li>
            <a routerLink="/account" *ngIf="(loggedUser$ | async)" routerLinkActive="active-list">Account</a>
        </li>
        <li>
            <a routerLink="/cart" *ngIf="(loggedUser$ | async)" routerLinkActive="active-list">
                Cart({{cart?.count}})
            </a>
        </li>
        <li  class="active-user" *ngIf = "(loggedUser$ | async) as user">
            Hello, {{user.firstName}}
        </li>
        <!-- <li class="active-user">
            {{(loggedUser$ | async) | json}}
        </li> -->
    </ul>
<router-outlet></router-outlet>

