<h3>List of Categories</h3> 
<ng-container *ngIf="($categories | async) as categories">
    <ol>
        <ng-container *ngFor = "let category of categories">
            <li *ngIf="!category.parent_category" (click)="toggleOnClick()">
                <span [routerLink]="['/products']" [queryParams]="{categories: category._id}">{{category.category_name}}</span>
                <ol *ngIf="showMe">
                    <ng-container *ngFor= "let subCategory of categories">
                        <li *ngIf = "subCategory.parent_category?._id === category._id" (click)="toggleOnClick()">
                            <span [routerLink]="['/products']" [queryParams]="{categories: subCategory._id}">{{subCategory.category_name}}</span>
                            <ol *ngIf="showMe">
                                <ng-container *ngFor= "let subSubCategory of categories">
                                    <li *ngIf="subSubCategory.parent_category?._id === subCategory._id" (click)="toggleOnClick()">
                                        <span [routerLink]="['/products']" [queryParams]="{categories: subSubCategory._id}">{{subSubCategory.category_name}}</span>
                                        <ol *ngIf="showMe">
                                            <ng-container *ngFor= "let superSubSubCategory of categories">
                                                <li *ngIf="superSubSubCategory.parent_category?._id === subSubCategory._id">
                                                    <span [routerLink]="['/products']" [queryParams]="{categories: superSubSubCategory?._id}">{{superSubSubCategory.category_name}}</span>
                                                </li>

                                            </ng-container>
                                        </ol>
                                    </li>
                                </ng-container>
                            </ol>
                        </li>
                    </ng-container>
                </ol>
            </li>
        </ng-container>
    </ol>
</ng-container>



 


