 
<div class="order-div" *ngIf="showOrderDiv">
    <h3 class="review">Review your order</h3>
    <ng-container *ngIf="($cart | async) as cart">
        <table>
            <tr class="tabletitle">
                <td class="date">Date: {{currentDate()}}</td>
                <td class="customer">Customer: <span style="color: blue;">{{cart.user?.firstName}}</span></td>
            </tr>
            <tr class="tabletitle">
                <td class="summary">Order Summary</td>
            </tr>
            <tr class="list" *ngFor = "let product_info of (cart.products)">
                <td class="product left" >{{product_info?.product?.product_name}}</td>
                <td class="price right">${{product_info?.product?.price}}</td>
            </tr>
            <tr class="tabletitle">
                <td class="items left">items({{cart.count}}):</td>
                <td class="total right">${{cart.total_amount.toFixed(2)}}</td>
            </tr>
            <hr>
            <tr>
                <td class="order-total left">Order Total:</td>
                <td class="amount right">${{cart.total_amount.toFixed(2)}}</td>
            </tr>
        </table>
        <button (click)="placeOrder(cart)">Place your order</button>
    </ng-container>
</div>

<div class="orderSuccessMsg" [hidden]="hideOrderMsgDiv">
    Your Order has been placed!
    <br><br>
    <button (click)="navigateToOrders()">View your orders</button>
</div>
