
<div class="form-div">
    <h2>Sign In</h2>
    <form [formGroup] = 'loginUserForm'>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName='email' placeholder="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName='password' placeholder="password">
        </div>
        <div class="form-group">
            <button [disabled]='loginUserForm.invalid' (click)="authUser()">Log In</button>
        </div>
        <div *ngIf="(invalidMsg$ | async) && !(loginUserForm.get('email')?.dirty) && !(loginUserForm.get('password')?.dirty)">
            <label class="invalid">Invalid username or password</label>
        </div>
        <div class="form-group">
            <p>New User?
                <button (click)="goToSignUp()">Create Your Account</button>
            </p>  
        </div>
        </form>
</div>

