.title {
    font-size: 20px;
}

.price-title{
    float: right;
}

.cart-div{
    
}

img {
    display: inline-block;
    border-radius: 8px;
    width: 80px;
    padding: 5px;
}

.img-des-div {
    overflow: hidden;
    text-align: left;
    margin: 10px;
}

.price-div {
    text-align: right;
    font-size: 20px;
}