

 <ng-container *ngIf="(cart$| async) as cart">
    <p class="title">
        {{cartTitle()}}
        <!--Shopping Cart: <span style="color: green;">{{cart?.user?.firstName}}</span>-->
        <span class="price-title">Price</span> 
    </p>
    <hr>
    <div>
    <ol>
            <li *ngFor="let product_info of (cart.products)">
                <section id="cart-section">
                <div class="img-div">
                    <img src="{{product_info?.product?.imgUrl}}">
                </div>
                <div class="details-div">
                    <p>{{product_info?.product?.product_name}}</p>
                    <!-- <p>Selected Qty: {{product_info?.selected_quantity}}</p> -->
                    <p>Qty:
                        <select class="select-qty" (change)="changeQty(product_info.product,$event)">
                            <option value="product_info?.selected_quantity">{{product_info?.selected_quantity}}</option>
                            <option *ngFor="let q of createQtyArray(product_info?.product?.quantity)" [ngValue]="q">{{q}}</option>
                        </select>
                    </p>
                    <button (click)="deleteProductFromCart(product_info.product)">Delete</button>
                </div>
                <div class="price-div">
                    <p>${{product_info?.product?.price}}</p>
                </div>
                </section>
            <hr>
            </li>
        
    </ol>
    </div>
    <div class="summary">
        <p class="cart-summary">
            Subtotal({{ cart?.count }} {{(totalCount())}}): 
            <span>${{ cart?.total_amount?.toFixed(2) }}</span> 
        </p>
        <p class="checkout">
            <button class="checkout-button" (click)="goToOrder(cart)" [disabled]="cart.count === 0">Proceed to checkout</button>
            
        </p>
    </div>
</ng-container>

