

.title {
    font-size: 25px;
}

.price-title{
    float: right;
}

#cart-section{
   display: flex; 
}

#cart-section div {
    padding: 20px;
}

img {
    border-radius: 8px;
    width: 80px;
}

.img-div {
    width: 20%;
}

.details-div {
    width: 40%;
    font-size: 20px;
}

.details-div button {
    background-color: black;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.details-div button:hover {
    background-color: rgb(65, 60, 60);
}

.price-div {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    width: 40%;
}

.cart-summary {
    float: right;
    font-size: 20px;
}

.cart-summary span {
    font-weight: bold;
}

.checkout-button {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(238, 211, 37);
}

.checkout-button:hover:enabled {
    cursor: pointer;
    background-color: rgba(210, 184, 15, 0.896);
}

.summary {
    float: right;
}

