
<!--{{(cart$| async) | json}}-->
 <ng-container *ngIf="(cart$| async) as cart">
    <p class="title">
        Shopping Cart: <span style="color: green;">{{cart?.user?.firstName}}</span><span class="price-title">Price</span> 
    </p>
    <hr>
    <div>
    <ol>
        <div class="cart-div">
            <li *ngFor="let product of (cart.products)">
                <div class="img-des-div">
                    <img src="{{product?.imgUrl}}" alt="">
                    {{product?.product_name}}
                    <label for="quantity">Qty:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="{{(product?.quantity)}}">
                    <button (click)="deleteProductFromCart(product?._id)">Delete</button>
                </div>
                <div class="price-div">
                    ${{product?.price}}
                </div>
                <hr>
            </li>
        </div>
    </ol>
    </div>
    <p class="cart-summary">
        Subtotal({{ cart?.count }} {{(totalCount())}}): <span>${{cart?.total_amount}}</span> 
    </p>
</ng-container>

