
<div class="item-div">
    <div class="image-div">
        <img src={{selectedProduct?.imgUrl}}>
    </div>
    <div class="details-div">
    <p class="productName">
        {{selectedProduct?.product_name}}
    </p>
        <p class="price">$ <strong>{{selectedProduct?.price}}</strong><p>
        <p class="qty">
            {{(checkQuantity()) ? 'In Stock:' : 'Out of Stock'}} 
            <span *ngIf="checkQuantity()">{{selectedProduct?.quantity}} 
            </span>
        </p>
        <button class="cart" (click)="addToCart()" [disabled]="!checkQuantity()">Add to cart</button>
        <br><br>
        <button class="buy" [disabled]="!checkQuantity()">Buy Now</button>
    </div>
</div>