img {
    border-radius: 8px;
    width: 200px
}

.item-div {
  margin: auto;
  margin-top: 50px;
  width: 60%;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
}

.image-div {
    display: inline-block;
    margin: 10px;
}

.details-div{
    display: inline-block;
    margin: 0px;
}

.productName {
    font-size: large;
    font-weight: bold;
}

.price {
    color:rgb(175, 58, 47);
    font-weight: bold;
    font-size: large;
}

.qty{
    color: green;
    font-size: large;
}

.cart:hover {
    cursor: pointer;
}

.buy:hover {
    cursor: pointer;
}

.cart {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(223, 223, 51);
}

.buy {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: orange;
}