<div>
    <button (click)="addNewCategory()">Add New Category</button>
</div>
<div>
    <h2>Add Product Form</h2>
    <form [formGroup]="addProductForm">
        <label for="name">Product Name:</label>
        <input type="text" formControlName="product_name">

        <label for="price">Price:</label>
        <input type="number" min="0" 
            onkeypress="return (event.charCode === 46) || event.charCode >= 48 && event.charCode <= 57"
            formControlName="price">

        <label for="quantity">Quantity:</label>
        <input type="number" min="0" 
            onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            formControlName="quantity">

        <label for="image">Image Url:</label>
        <input type="text" formControlName="imgUrl">

        <p>Complete the form to enable button</p>
        <button [disabled]="addProductForm.invalid" (click)="addProduct()" >Add Product</button>
    </form>
</div>

<!--{{this.addProductForm.value | json }}-->

<!--{{this.addProductForm.status}}-->

